.metaMain {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(25, 25, 25);
}

.metaMain .authorContainer {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.metaMain .authorContainer .authorImage {
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.metaMain .authorContainer .authorImage img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.metaMain .authorContainer .authorText {
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 100%;
    justify-content: center;
}

.metaMain .authorContainer .authorText p {
    margin: 1px 0px;
    color: white;
    font-size: 1rem;
}

.metaMain .authorContainer .authorText p:first-child {
    font-weight: 600;
    font-size: 1rem;
}

.metaMain .informationContainer {
    width: calc(100% - 200px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 1px;
}

.metaMain .informationContainer p {
    font-size: 1rem;
    margin: 1px 0px;
    text-align: end;
}

.metaMain .informationContainer p:last-of-type {
    margin-bottom: 0px;
    font-weight: 600;

}

@media screen and (max-width: 500px) {
    .metaMain .authorContainer .authorImage img {
        width: 40px;
        height: 40px;
    }
}