.nav {
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    margin: auto 0;
    border-right: 2px solid rgb(25, 25, 25);
    transition: height 0.75s cubic-bezier(0.23,1,0.32,1);
}

.nav .top {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav .top p {
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
    margin: 0;
    margin-left: 20px;
}

.nav .top .logo {
    width: 80px;
    height: auto;
}

.nav .category {
    width: 100%;
}

.nav .category h3 {
    color: white;
    font-size: 1.1rem;
}

.nav .category a {
    list-style-type: none;
    color: rgb(222, 222, 222);
    cursor: pointer;
    background-color: transparent;
    position: relative;
    padding-left: 20px;
    min-height: 50px;
    display: flex;
    align-items: center;
    border-left: 2px solid rgb(50, 50, 50);
    transition: color 0.2s ease-in-out;
    text-decoration: none;
}

.nav .category a:hover {
    color: white;
    border-color: white;
}

.selected {
    color: white !important;
    border-color: white !important;
}

.nav .stack {
    width: 40px;
    height: 40px;
    margin-left: auto;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav .stack .opened {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0;

    animation-name: OpacityIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

.nav .stack .closed {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    opacity: 0;

    animation-name: OpacityIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

@keyframes OpacityIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.nav .stack .closed .bar {
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 5px;
}

.nav .stack .closed .bar:first-child {
    rotate: 45deg;
    position: absolute;
    left: 0;
    bottom: 45%;
}

.nav .stack .closed .bar:last-child {
    rotate: -45deg;
    position: absolute;
    right: 0;
    bottom: 45%;
}

.nav .stack .opened .bar {
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 5px;
}

@media screen and (max-width: 1000px) {
    .nav {
        position: absolute;
        width: 100vw;
        height: 120px;
        overflow: hidden;
        background-color: rgb(7, 7, 7);
        padding: 20px 40px;
        z-index: 2;
        border-bottom: 2px solid rgb(25, 25, 25);
    }

    .seperation {
        position: absolute;
        top: 120px;
    }

    .nav .stack {
        display: flex;
    }
}

@media screen and (max-width: 500px) {
    .nav {
        padding: 20px 10px;
    }

    .nav .top .logo {
        width: 70px;
    }

    .nav .stack {
        width: 35px;
        height: 35px;
    }

    .nav .stack .closed .bar {
        height: 4px;
    }

    .nav .stack .opened .bar {
        height: 4px;
    }
}